body {
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.button {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .7rem 3rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #eeeeee; }

.button_highlight {
  background: #01baef; }

.button_secondary {
  background: rgba(238, 238, 238, 0.25); }

.button_small {
  padding: .3rem 1.5rem; }

.cf:after,
.cf:before {
  content: '';
  display: table; }

.cf:after {
  clear: both; }

#banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: .025rem;
  margin: 1.5rem; }
  #banner header {
    padding: 2rem 0; }
  #banner #logo {
    color: #eeeeee;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0; }
    #banner #logo span {
      font-weight: 400; }
  #banner nav {
    float: right; }
    #banner nav a {
      color: #eeeeee;
      font-weight: 700;
      text-decoration: none;
      margin-left: 2rem; }
  #banner .content {
    padding: 10rem 0  10rem 0; }
    #banner .content .title, #banner .content .sub_title {
      color: #eeeeee;
      text-align: center; }
    #banner .content .title {
      font-size: 3.5rem;
      margin: 0;
      text-transform: capitalize; }
    #banner .content .sub_title {
      font-weight: 400;
      font-size: 1.35rem;
      width: 500px;
      margin: 0 auto 2rem auto;
      line-height: 1.75; }
    #banner .content .button_wrapper {
      text-align: center;
      margin: 4rem 0; }
      #banner .content .button_wrapper .button {
        margin: 0 .75rem; }

#services {
  background: #f2f1f8;
  padding: 2rem 0 6.5rem 0;
  margin: -2rem 1.5rem 1.5rem 1.5rem;
    margin-position: relative; }
  #services .service {
    background: #fff;
    width: 26%;
    float: left;
    margin: -5.5rem 1% 0 1%;
    padding: 3rem 2.5%;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    border-radius: .35rem; }
    #services .service h3 {
      margin: 0;
      font-size: 1.5rem;
      color: #222831; }
    #services .service p {
      margin: 0 0 2rem 0;
      color: #222831; }
    #services .service .button {
      padding: .5rem 2rem; }
    #services .service:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -50px;
      height: 50px;
      border-left: 2px solid #c9c7d3; }
  #services .middle:after {
    bottom: -105px;
    height: 105px; }
  #services:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -59.5px;
    border-top: 2px solid #c9c7d3;
    width: 818px;
    margin-left: -412.8px; }
